<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= campground.image %>" alt="campground image" class="card-image-top">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary"><%= campground.location %></li>
                <li class="list-group-item text-secondary">$<%= campground.price %> / night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/campgrounds/<%= campground.id %>/edit">Edit Campground</a>
                <form class="d-inline" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-secondary">2 days ago</div>
        </div>

        <!-- REVIEW FORM  -->
        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%= campground.id %>/reviews" method="POST">
            <div class="mb-3">
                <label class="from-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
            </div>
            <div class="mb-3">
                <label class="from-label" for="body">Review</label>
                <textarea rows="3" cols="30" id="body" name="review[body]" class="form-control"></textarea>
            </div>
            <button class="btn btn-success mb-3">Submit</button>
        </form>
    </div>
</div>